{% extends "vehicles/page.html" %}
{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/jquery.filter.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/jquery.remodal.css' %}">
    <script src="{% static 'js/jquery.remodal.js' %}"></script>
{% endblock %}

{% block content %}
{% if vehicle_list %}
    <section class="filter-container">
        <select class="filter">
            <option value="">All</option>
            <option value="hybrid">Hybrid</option>
            <option value="gas">Gas</option>
            <option value="electric">Electric</option>
        </select>
    </section>
    <section class="vehicle-container">
        {# This code doesn't look very pretty, because having any whitespace between articles will render that whitespace. Pardon the formatting. #}
        {% for v in vehicle_list %}<article class="vehicle-tile {{ v.get_type_display }}">
                {# The visible tile on the grid #}
                <div class="vehicle-type">
                    <i class="fa fa-{{ v.icon }}"></i>
                </div>
                <img class="vehicle-image" src="{{ v.image.url }}" />
                <div>
                    <span class="vehicle-make">{{ v.make }} - </span><span class="vehicle-model">{{ v.model }}</span>
                </div>
                <span class="vehicle-price">{{ v.formatted_price }}</span>
                <div class="vehicle-description">
                    {{ v.description }}
                </div>
                <a href="#modal{{ v.id }}"><h4 class="vehicle-order btn btn-default btn-lg">Order now</h4></a>

                {# The popup form #}
                <div class="remodal" data-remodal-id="modal{{ v.id }}">
                    <h3>Ordering the {{ v.make }} {{v.model}}</h3>
                    <p>{{ v.description }}</p>
                    <br />
                    <form action="{% url 'vehicles:buy' v.id %}" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="first{{ v.id }}" class="col-sm-4 control-label">First name:</label>
                            <div class="col-sm-8">
                                <input type="text" name="first" id="first{{ v.id }}" class="form-control" /><br />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="last{{ v.id }}" class="col-sm-4 control-label">Last name:</label>
                            <div class="col-sm-8">
                                <input type="text" name="last" id="last{{ v.id }}" class="form-control" /><br />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg">Order</button>
                    </form>
                </div>
            </article>{% endfor %}
    </section>
{% else %}
    <p>No vehicles found.</p>
{% endif %}


{% endblock %}
