<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="en">
    <!-- All of my personal Javascript/CSS is purposefully not minified, production code obviously would be -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Sitewide scripts and stylesheets -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Exo:400,700|Titillium+Web:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <!-- Page specific scripts and stylesheets -->
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Vehicles</a></li><li><a href="/orders">Orders</a></li>
        </ul>
    </nav>
    <div id="content">
        {% block content %}No content to display.{% endblock %}
    </div>
    <footer>
        <p>
            The images and data used on this website are not affiliated with Lexus or Tesla at all.
            I have no idea if any of these prices are even remotely accurate.
            I hate to pass the buck, but the HR people at Quadrus are really the people you need to be mad at.
            Who knows how many sites they've got that implement this.
            If you want to ACTUALLY buy a Lexus or Tesla, why are you on a site called "QuadrusPracticum.com"?!
            If you're part of the Lexus/Tesla legal team, you can <a href="mailto:mitchell.ludwig@gmail.com">e-mail me</a> if you want me to bring the site down.
            I'm so sorry. I think your cars are probably awesome. <3
        </p>
    </footer>
</body>
</html>