html, body {
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif; }

html {
  background: url("/static/img/galaxy-starry-night.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  overflow-x: hidden; }

body {
  background: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700; }

nav {
  margin: 1em auto;
  padding: 0; }
  nav ul {
    padding: 0; }
  nav li {
    display: inline-block;
    height: 50px;
    width: 45%;
    margin-left: 3%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
    font-weight: 700; }
  nav li:hover {
    background: radial-gradient(white 40%, rgba(255, 255, 255, 0.5)); }

@media all and (min-width: 480px) {
  nav {
    width: 400px; } }
footer {
  background: rgba(0, 0, 0, 0.9);
  padding: 2em;
  color: #aaa; }
  @media all and (min-width: 1080px) {
    footer {
      position: fixed;
      bottom: 0; } }

footer.spacing {
  visibility: hidden;
  display: none; }
  @media all and (min-width: 1080px) {
    footer.spacing {
      display: block;
      position: static; } }

.filter {
  width: 300px;
  display: block;
  margin: 1em auto;
  font-size: 24px;
  padding: 10px 15px;
  border-left: 5px solid grey;
  cursor: pointer; }

.vehicle-container {
  max-width: 1600px;
  margin: 0 auto; }

.vehicle-tile {
  width: 97%;
  margin: 1.5%;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: white;
  background: linear-gradient(rgba(255, 255, 255, 0.2), white 70%); }
  .vehicle-tile .vehicle-type {
    position: absolute;
    display: inline-block;
    right: 0;
    font-size: 36px;
    margin: 10px 20px;
    color: white; }
  .vehicle-tile .vehicle-image {
    width: 100%;
    height: auto; }
  .vehicle-tile .vehicle-make {
    padding: 15px 5px 15px 15px;
    font-size: 24px; }
  .vehicle-tile .vehicle-model {
    padding: 15px 15px 15px 5px;
    font-size: 36px;
    font-weight: 700; }
  .vehicle-tile .vehicle-description {
    padding: 1em;
    height: 80%;
    top: 0;
    overflow: hidden;
    position: absolute;
    background: linear-gradient(#0f0c52 70%, rgba(15, 12, 82, 0));
    color: white;
    opacity: 0;
    transition: 0.5s; }
  .vehicle-tile:hover .vehicle-description {
    opacity: 0.9; }
  .vehicle-tile .vehicle-order {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 15px;
    cursor: pointer; }
  .vehicle-tile .vehicle-price {
    float: right;
    padding: 15px;
    font-size: 24px; }

@media all and (min-width: 640px) {
  .vehicle-tile {
    width: 47%; } }
@media all and (min-width: 1080px) {
  .vehicle-tile {
    width: 30.33333%; } }

.order-container {
  margin: 1em 0;
  padding: 1em 0; }
  .order-container .small-device {
    display: block;
    text-align: center; }
  @media all and (min-width: 768px) {
    .order-container {
      margin: 1em;
      padding: 1em; }
      .order-container .small-device {
        display: none; } }

#open-orders {
  background: rgba(255, 255, 255, 0.85); }

#completed-orders {
  background: rgba(227, 249, 255, 0.85); }

/*# sourceMappingURL=style.css.map */
