nav
	margin: 1em auto
	padding: 0
	ul
		padding: 0
	li
		display: inline-block
		height: 50px
		width: 45%
		margin-left: 3%
		background: rgba(255, 255, 255, 0.8)
		border-radius: 10px
		text-align: center
		text-transform: uppercase
		font-family: 'Titillium Web', sans-serif
		font-size: 30px
		font-weight: 700
	li:hover
		background: radial-gradient(white 40%,rgba(255, 255, 255, 0.5))

@media all and (min-width: 480px)
	nav
		width: 400px
